@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@layer theme, base, components, utilities;
@config "../tailwind.config.js";

body {
  @apply leading-[normal] m-0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    border-width: 0;
  }
}
